@charset "UTF-8";

body{
	background:#edf0f1;
	padding:90px 0 0 0;
}

body, input, button{
	font-family: 'Roboto',sans-serif;
}

header{
	width: 95%;
	height: 70px;
	position: fixed;
	top:0;
	left:0;
	padding: 15px; /* ocisti miesto okolo contentu */
	z-index:5; /* stack order - ten co ma vacsi je vzdy vpredu */
	background:#25b99a;
	box-shadow:0px 2px 4px rgba(44,62,80,0.15);
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

header input {
	width : 95%;
	height: 50px;
	float: left;
	color:#fff;
	font-size:15px;
	font-weight:400;
	text-indent:18px;      /* ako daleko je text od zaciatku */
	padding:0 60px 0 0;
	background: rgba(255,255,255,0.2);
	border-top-left-radius: 5px; /* zaobli aby to nebolo hranate */
	border-bottom-left-radius: 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border:0px;
	box-shadow:none;
	outline:none;


}

header input::-webkit-input-placeholder{
	color:rgba(255,255,255,0.75);
}

header button {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 15px;
	right:15px;
	z-index:2;
	background:#fff;
	border-radius:25px; /*The border-radius property is used to add rounded corners to an element.*/
	border:0px;
	box-shadow:none;
	outline:none;
	cursor:pointer;


	appearance:none;
}

.containter{
		width:100%;
		float:left;
		padding:15px;
}

ul.todo{
	width:100%;
	float:left;

}

ul.todo li {
	width:100%;
	float:left;
	height:25px;
	font-size:14px;
	font-weight:500;
	color:#444;
	line-height:22px;
	background:#fff;
	border-radius:5px;
	position:relative;
	box-shadow:0px 1px 2px rgba(44,62,80, 0.10);
	margin: 0 0 10px 0;
	padding:14px 100px 14px 0;
}

ul.todo li .buttons{
	width:100px;
	height:50px;
	position:absolute;
	top:0;
	right:0;
}

ul.todo li:last-of-type{
	margin: 0px;
}

ul.todo li .buttons button{
	width:50px;
	height:50px;
	float:left;
	background:none;
	position:relative;
	border:0px;
	box-shadow:none;
	outline:none;
	cursor: pointer;
}

ul.todo li .buttons button:last-of-type:before {
	content:'';
	width:1px;
	height:30px;
	position:absolute;
	top:10px;
	left:0;
	background: none;
	background:#edf0f1;
}



/*ul.todo li .buttons button svg{
	width:22px;
	height:22px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-11px 0 0 -11px;
}*/

ul.todo li .buttons button.remove .fill{
	fill:#c0cecb;
}

ul.todo li .buttons button.remove:hover .fill{
	fill:#e85656;
}



ul.todo li .buttons button.complete .fill{
	fill:#25b99a;
}

ul.todo li .buttons button.complete {
	border-radius:11px;
	border:1.5px solid #25b99a;
}

ul.todo:not(#completed) li .buttons button.complete:hover {
	background:rgba(37,185,154,0.1);
}

ul.todo#completed li .buttons button.complete {
	background: #25b99a;
	border:0px;
}

ul.todo#completed li .buttons button.complete .fill {
	fill: #fff;
}

ul.todo#completed:not(:empty) {
	position:relative;
	padding:60px 0 0 0;
}
ul.todo#completed:not(:empty):before {
	content:'';
	width:150px;
	height:1px;
	background:#d8e5e0;
	position:absolute;
	top:30px;
	left:50%;
	margin:0 0 0 -75px;
}
